
.items:hover {
  --expand: 1.5;
}




.items::before,
.items::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background: hsl(0, 0%, 5%);
  border: 2px solid white;
  top: 0;
  left: 0;
  z-index: -1;
}

.items::after {
  transform: translate(calc(var(--expand) * -2%), calc(var(--expand) * -2%));
  transition: transform 0.2s;
}

.item__content {
  transition: transform 0.2s;
  transform: translate(calc(var(--expand) * -4%), calc(var(--expand) * -4%));
}

a {
  color: #C7EDEF;
}
